<div class="card mt-4">

    <div class="row">
      <div class="col-4">
        <!--
        <img class="card-img-top" src="https://picsum.photos/300/330?random={{detalle?.producto?._id}}" alt="Card image">
        -->
        <img [src]="imagenProducto" alt="Atiende" width="250px">
      </div>
  
      <div class="col-8"> 
  
        <h4 class="card-title">{{detalle?.producto?.nombre}}</h4>
        <h6 class="card-title">{{detalle?.producto?.fabricante}}</h6>
        <p class="card-text">{{detalle?.producto?.descripcion?.substring(0,200)}}...</p>
  
        <div class="d-flex mb-3">
          <div class="p-2 mr-auto">
            <span>{{detalle.precio}} €</span>
          </div>
      
          <div class="p-2">
            <button class="btn btn-warning ml-1 mr-1" (click)="disminuirCantidad()">-</button>
            <span>{{detalle.cantidad}} </span>
            <button class="btn btn-success ml-1 mr-1" (click)="aumentarCantidad()">+</button>
            <button class="btn btn-danger ml-1 mr-1" (click)="borrarDetalle()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>            
            </button>          
          </div>
        </div>
          
      </div>
  
    </div>
  
  </div>
  
