<div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/tienda', { outlets: { 'primary':['perfil'], 'der':['resumenCesta'], 'izq':['barraIzq'] }}]">{{usuario?.nombre}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/tienda', { outlets: { 'primary':'catalogo', 'der':'resumenCesta' }}]">Catálogo</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/tienda', { outlets: { 'primary':'cesta', 'der':null } }]">Cesta</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/tienda', { outlets: { 'primary':'listadoPedidos', 'der':['resumenCesta'] } }]">Pedidos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/tienda', { outlets: { 'primary':'listadoFacturas', 'der':['resumenCesta'] } }]">Facturas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Salir</a>
        </li>

    </ul>
</div> 

