<p></p>

<div class="text-center">
    <h2>Alta de usuario</h2>
</div>

<form [formGroup]="formulario">

  <div class="form-horizontal" id="formulario">
    <div class="form-group">
      <label class="control-label" for="nombre">Nombre *</label>
      <div >
        <input type="text" 
              class="form-control"
              formControlName="nombre"/>
        <div *ngIf="(formulario.get('nombre')?.dirty || formulario.get('nombre')?.touched)">
          <small *ngIf="formulario.get('nombre')?.hasError('required')" class="text-danger">
            El nombre es obligatorio.
          </small>
        </div>              
      </div> 
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Correo E. *</label>
      <div>
        <input type="text" id="email"
              class="form-control"
              formControlName="email"/>
        <div *ngIf="(formulario.get('email')?.dirty || formulario.get('email')?.touched)">
          <small *ngIf="formulario.get('email')?.hasError('required')" class="text-danger">
            El correoE es obligatorio.
          </small>
          <small *ngIf="formulario.get('email')?.hasError('email')" class="text-danger">
            Tiene que ser una dirección de correo E.
          </small>
        </div> 
      </div>
    </div>       
    <div class="form-group">
      <label class="control-label" for="pw" >Password *</label>
      <div>
        <input type="text" 
              class="form-control"
              formControlName="password"/>
        <div *ngIf="(formulario.get('password')?.dirty || formulario.get('password')?.touched)">
          <small *ngIf="formulario.get('password')?.hasError('required')" class="text-danger">
            El password es obligatorio.
          </small>
        </div>                
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="confirmarPassword">Confirmar password  *</label>
      <div>
        <input type="text" 
              class="form-control"
              formControlName="confirmarPassword"/>
        <div *ngIf="(formulario.get('confirmarPassword')?.dirty || formulario.get('confirmarPassword')?.touched)">
          <small *ngIf="formulario.get('confirmarPassword')?.hasError('required')" class="text-danger">
            Este campo es obligatorio.
          </small>
        </div> 
        <div>
          <small *ngIf="errorPassword" class="text-danger">
            Los password no coinciden.
          </small>
        </div>              
      </div>
    </div>

  </div>

</form>

<div class="text-center">
  <input type="button" 
         value="Registrarse" 
         class="btn mr-1 btn-primary" 
         style="width:110px"
         (click)="registro()"/>
  <input type="button" 
         value="Cancelar"  
         class="btn mr-1 btn-warning" 
         style="width:110px"
         routerLink="/"/>
</div>








