<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">

            <!--
            Si queremos que el contenido de un router outlet cambie con la pulsación
            de un enlace o un botón le añadimos el atributo 'routerLink' e indicamos
            la ruta (path) asociado al componente que queremos mostrar

            Estos enlaces no tienen HREF!

            Si le ponemos un href el enlace navegará de verad a otro sitio
            <a href="http://www.google.es">DALE</a>
            -->
            <a class="nav-link" routerLink="/componente1">COMPONENTE 1</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/componente2">COMPONENTE 2</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link">Salir</a>
        </li>
    </ul>
  </nav>   
