
<h3 class="text-center mt-3 mb-3">
    Cesta
</h3>

<div *ngFor="let dp of cesta.detalles">
    <app-detalle-cesta [detalle]="dp" [cesta]="cesta"></app-detalle-cesta>
</div>


<div *ngIf="cesta.detalles.length==0">
    <h2 class="text-center">No hay productos en la cesta</h2>
</div>

<br/>

<!--
<div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>
-->

<div class="d-flex justify-content-center mt-4 mb-4">
    <h4>
        Total {{ cesta.total }} €
        <input type="button" value="Guardar" class="btn btn-primary ml-2" style="width:110px"/>
        <button class="btn btn-primary ml-2" [routerLink]="['/tienda', { outlets: { 'primary':'compra', 'der':'resumenCesta' }}]">Comprar</button>
        <button class="btn btn-danger ml-2" (click)="vaciarCesta()">Vaciar</button>
    </h4>
</div>
