<h3 class="text-center mt-3 mb-3">
    Formulario de Discos
</h3>

<div class="text-center"> 
    <button class="btn btn-primary mr-1" (click)="insertar()"  [disabled]="disco._id!=null">Insertar</button>
    <button class="btn btn-primary mr-1" (click)="modificar()" [disabled]="disco._id==null">Modificar</button>
    <button class="btn btn-danger  mr-1"                       [disabled]="disco._id==null" data-toggle="modal" data-target="#confirmacionBorrar">Borrar</button>
    <button class="btn btn-warning mr-1" (click)="vaciar()"    [disabled]="disco.vacio()">Vaciar</button>
    <button class="btn btn-warning mr-1" routerLink="/discos/listado">Volver</button>
</div>

<br/>

<div class="row">
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="titulo">Título</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="titulo" [(ngModel)]="disco.titulo" class="form-control"/>
    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="grupo">Grupo</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="grupo" [(ngModel)]="disco.grupo" class="form-control"/>
    </div>                 
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="year">Año</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="year" [(ngModel)]="disco.year" class="form-control"/>
    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="genero">Género</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="genero" [(ngModel)]="disco.genero" class="form-control"/>
    </div>

    <div class="col-sm-12 col-md-2 mt-1">
        <label for="escort">Notas</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <textarea id="notas" [(ngModel)]="disco.notas" class="form-control"></textarea>
    </div>
</div>    

  <!-- Modal -->
  <div class="modal fade" id="confirmacionBorrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro de que quiere borrar este disco?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="borrar()">Borrar</button>
        </div>
      </div>
    </div>
  </div>