<h3 class="text-center mt-3 mb-3">
    Formulario de Discos
</h3>

<div class="text-center"> 
    <button class="btn btn-primary mr-1" (click)="enviar()">Enviar</button>
</div>

<br/>

<div class="row">
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="usuario">Usuario</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <select id="titulo" [(ngModel)]="correoElectronico.direccion" class="form-control">
          <option>Seleccione...</option>
          <option *ngFor="let u of usuarios" value="{{u.email}}">
            {{u.first_name+" "+u.last_name}}            
          </option>
        </select>
    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="asunto">Asunto</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="asunto" [(ngModel)]="correoElectronico.asunto" class="form-control"/>
    </div>                 
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="transit">Cuerpo</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <textarea id="transit" [(ngModel)]="correoElectronico.cuerpo" class="form-control"></textarea>
    </div>
</div>    
