<h3 class="text-center mt-3 mb-3">
    Discos
</h3>

<div class="text-center"> 
    <button class="btn btn-primary mr-1" (click)="insertar()">Insertar</button>
    <button class="btn btn-primary mr-1" (click)="modificar()">Modificar</button>
    <button class="btn btn-danger  mr-1" (click)="borrar()">Borrar</button>
    <button class="btn btn-warning mr-1" (click)="vaciar()">Vaciar</button>
</div>

<br/>

<div class="row">
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="titulo">Título</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="titulo" [(ngModel)]="disco.titulo" class="form-control"/>
    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="grupo">Grupo</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="grupo" [(ngModel)]="disco.grupo" class="form-control"/>
    </div>                 
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="year">Año</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="year" [(ngModel)]="disco.year" class="form-control"/>
    </div>
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="genero">Género</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="genero" [(ngModel)]="disco.genero" class="form-control"/>
    </div>

    <div class="col-sm-12 col-md-2 mt-1">
        <label for="escort">Notas</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <textarea id="notas" [(ngModel)]="disco.notas" class="form-control"></textarea>
    </div>
</div>    

<br/>

<table class="table table-hover table-striped">    
    <thead>
        <tr>
            <th>Título</th>
            <th>Grupo</th>
            <th>Año</th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table> 
    


